@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: brown;
    color: white;
}

/*-----------Navbar Section-----------*/
body, #home{
    background-color: #8a8a8a;
}
header{
    position:fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    background-color: #000000dc;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar a:hover{
    color: white;
    border-bottom: 1px solid #ffffffdc;
}
.navbar a:focus{
    color: brown;
    font-weight: 500;
}
.nav-item{
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
}
.navbar-toggler span{
    color: wheat;
}
.navbar-toggler:focus{
    box-shadow: none;
}

/*-------- Home Section --------*/

main{
    width: 70vw;
    margin: 0 auto;
    z-index: 0;
}
#home{
    font-family: "Poppins";
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.aboutme{
    border-top:5px solid #000000dc;
    border-bottom:5px solid #000000dc;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.my_image{
    position: relative;
    overflow: hidden;
    background-color: #000000dc;
}
.my_image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.my_info{
    background-color: #9c9c9c;
    color: #000000dc;
    padding: 20px;
}
.my_info .my_name{
    font-weight: 500;
    font-size: 36px;
}
.my_info .my_introduction{
    padding-top: 10px;
    font-size: 18px;
    color: #000000dc;
}
.my_introduction a{
    text-decoration: none;
    color: brown;
}
.my_name h1{
    padding-top: 20px;
    line-height: 0;
}
.my_name span{
    font-size: 18px;
    color: brown;
    font-weight: 300;
}
.my_resume{
    padding-top: 25px;
}
.my_resume a{
    cursor: pointer;
    text-decoration: none;
    width: 140px;
    font-size: 20px;
    padding: 10px 22px;
    background-color: #232323;
    color: white;
    border-radius: 3px;
}
.my_resume a:hover{
    opacity: 0.95;
}
.contact_me{
    display: flex;
    flex-direction: column;
}
.contact_me a{
    text-decoration: none;
    color: #232323;
    cursor: pointer;
}
.contact_me span{
    color: brown;
    margin-right: 8px;
}

/* next-arrow */
.next-arrow span{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    left: 50%;
    font-size: 50px;
    color: #000000dc;
}
.next-arrow span:hover{
    color: black;
}
.next-arrow span:hover::before{
    transition: all 0.3s ease;
    content: '\f103';
    color: #000000dc;
}

@media screen and (max-width:1258px) {
    .next-arrow span{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:831px) {
    main{
        padding-top: 50px;
        width: 94vw;
    }
    #home{
        height: 100%;
        margin: 5px;
    }
    .my_image img{
        position:relative;
        transform: translateX(-50%);
    }
    .aboutme{
        display: inline-block;
    }
    .my_info{
        width: 100%;
    }
    .my_info, .my_image{
        margin: 1px auto;
    }
    .my_image{
        background-color: #8a8a8a;
    }
    main{
        width: 94vw;
    }
    .next-arrow span{
        display: none;
    }
    .my_resume{
        margin: 20px 0 20px 0;
    }
}

@media screen and (max-width:355px) {
    .my_name span,.contact_me a{
        font-size: 14px ;
    }
    .my_info .my_introduction{
        font-size: 16px;
    }
}

/* Common css for Section */
.section_heading{
    border-bottom: 1px double #000000dc;
}
.section_heading h2{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 34px;
    padding-bottom: 5px;
    color: #000000dc;
}
#education, #skills, #portfolio{
    height: 100vh;
    padding-top: 80px;
}
.section_heading h2 span{
    width: 150px;
    position: absolute;
    left: 105%;
    top: 0;
    font-size: 14px;
    letter-spacing: 2px;
    color: brown;
}

@media screen and (max-width:574px) {
    #education, #skills, #portfolio{
        height: auto;
    }
    .section_heading h2{
        font-size: 28px;
        border-bottom: 1px solid inherit;
        margin-left: 0;
    }
}
@media screen and (max-width:435px) {
    .section_heading h2 span{
        display: none;
    }
}

/*-------------- Section Education --------------*/

.my_education{
    padding:10px
}
.my_education .row{
    margin: 0;
}
.edu_info{
    border-left: 5px solid brown;
    margin-top: 10px;
}

.edu_info h3{
    color: #000000dc;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.edu_info h3 span{
    color: brown;
    font-size: 20px;
}
.edu_description{
    font-size: 18px;
    color: #000000dc;
    letter-spacing: 1.2px;
}

/*------------- Section Skills & Abilities --------------*/

#skills{
    height: 100vh;
}
.skills-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.skills-wrapper .div-wrap{
    width: 100%;
}
.skill{
    width: 90%;
    margin: 0 auto;
}
.skill:not(:last-child){
    margin-bottom: 30px;
}
.detailes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #232323;
    border-radius: 20px;
}

.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.87);
}

#htmlcss-bar{
    animation: htmlcss-fill 2s forwards;
}

@keyframes htmlcss-fill{
    100%{
        width: 85%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill{
    100%{
        width: 75%;
    }
}
#git-bar{
    animation: git-fill 2s forwards;
}
@keyframes git-fill{
    100%{
        width: 75%;
    }
}
#php-bar{
    animation: php-fill 2s forwards;
}
@keyframes php-fill{
    100%{
        width: 85%;
    }
}

#mysql-bar{
    animation: mysql-fill 2s forwards;
}
@keyframes mysql-fill{
    100%{
        width: 80%;
    }
}
#ds-bar{
    animation: ds-fill 2s forwards;
}
@keyframes ds-fill{
    100%{
        width: 70%;
    }
}
#java-bar{
    animation: java-fill 2s forwards;
}
@keyframes java-fill{
    100%{
        width: 75%;
    }
}
#python-bar{
    animation: python-fill 2s forwards;
}
@keyframes python-fill{
    100%{
        width: 75%;
    }
}

@media screen and (max-width:550px) {
    .skills-wrapper{
        flex-wrap: wrap;
    }
    .div-wrap{
        margin-bottom: 30px;
    }
}

/*---------------- portfolio --------------*/

.project-main{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project{
    width: 320px;
    height: 375px;
    margin: 5px;
    box-shadow: 0 4px 8px #000000dc;
}
.project-title, .project-desc{
    padding: 0 20px;
    margin-top: 10px;
}
.project-desc a{
    text-decoration: none;
    color: brown;
}
.project-title h3{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.project-title h3 span{
    margin-top: 5px;
    font-size: 14px;
    color: brown;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

/* slider setting */
.carousel-inner{
    height: 435px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}
.carousel-control-prev{
    left: -100px;
}
.carousel-control-next{
    right: -100px;
}

@media screen and (max-width:1150px) {
    main{
        width: 90vw;
    }
    .project-main{
        flex-wrap: wrap;
    }
    .carousel-inner{
        height: 100%;
    }
    .next-arrow{
        display: none;
    }
    .carousel-control-prev{
        top: 105%;
        left: 38%;
    }
    .carousel-control-next{
        right: 38%;
        top:105%;
    }
}
@media screen and (max-width:720px) {
    #education, #skills, #portfolio{
        height: 100%;
    }
    .carousel-control-prev{
        top: 0;
        left: 0;
    }
    .carousel-control-next{
        top:0;
        right: 0;
    }
}